/* header */
#head {
  background-color: rgba(30, 31, 33);
  padding: 15px;
  text-align: center;
  color: white;
  transition: 0.3s;
  position: relative;
  z-index: 1234;
}
.fixedhead {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 2px rgba(35, 33, 33, 0.929);
}
.main-menu {
  padding: 15px 40px 15px 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 30%;
}
.logo a {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 22px;
  font-weight: 600;
}
.logo a img {
  width: 40px;
}

/* navigation */
.navigation {
  margin: 0 auto;
  display: block;
  width: 50%;
}
.nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-ul li a {
  color: white;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
}
.nav-ul li a:hover {
  color: rgba(0, 163, 224);
}

/* 1st section */
.tech-edu {
  width: 100%;
  height: 352px;
}
.tech-img {
  width: 100%;
  height: 100%;
  background-image: url(/images/background.webp);
  background-position: center;
  object-fit: cover;
  object-position: 50% 50%;
}
.tech-title {
  width: 100%;
  padding-top: 90px;
}
.tech-title h3 {
  margin: 0 30px;
  color: white;
  font-size: 40px;
  line-height: 1.6em;
}

/* 2nd section */
.info {
  width: 100%;
  height: auto;
  background-color: rgba(43, 43, 43);
}
.info-container {
  width: 80%;
  height: 460px;
  margin: auto;
  padding-top: 40px;
}
.info-text p {
  color: #f4f4f4;
  font-size: 28px;
  line-height: 1.6em;
  letter-spacing: normal;
}
.info-link {
  margin-top: 30px;
}
.info-link a {
  color: rgb(0, 163, 224);
  font-weight: 600;
  font-size: 24px;
}

/* accordion */
.accordion {
  width: 100%;
  height: 900px;
  background-color: rgb(22, 22, 22);
}
.accordion-container {
  max-width: 700px;
  margin: auto;
  padding: 80px 20px;
}
.accordion-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
  height: auto;
}
.accordion-link span {
  color: #f4f4f4;
  font-size: 24px;
}
.accordion-link a {
  color: rgba(0, 163, 224);
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}
.accordion-items {
  width: 100%;
}
.accordion-items button {
  width: 100%;
  padding: 15px 0px;
  cursor: pointer;
  font-size: 18px;
  color: #f4f4f4;
  border-style: none;
  background-color: rgb(22, 22, 22);
  text-align: left;
  border-bottom: 0.5px solid #f4f4f4;
}
.accordion-container {
  background-color: rgb(22, 22, 22);
  padding-left: 8px;
  color: #f4f4f4;
}
.accordion-container  p {
  font-size: 14px;
  display: inline;
  padding-bottom: 10px;
}

/* footer */
footer {
  width: 100%;
  height: 370px;
  background-color: rgba(30, 31, 33);
}
.foot-container {
  width: 80%;
  height: 100%;
  margin: auto;
  display: grid;
}
.foot-logo {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons ul {
  list-style: none;
  padding: 0;
  gap: 10px;
  display: flex;
}
.copyright p {
  color: #f4f4f4;
}
.rules {
  grid-column: 1 / span 2;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.rules a {
  color: #f4f4f4;
}
.mail a {
  margin: auto;
  padding: 12px 40px;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgba(0, 163, 224);
}
